examples/List_software_of_agents.json
{
  "name": "Client - List software of agents",
  "nodes": [
    {
      "parameters": {
        "operation": "getByClient",
        "clientId": 6
      },
      "id": "c041cba8-2fd9-4cc3-b243-717a1ab072ca",
      "name": "Tactical RMM",
      "type": "n8n-nodes-tacticalrmm.TacticalRMM",
      "typeVersion": 1,
      "position": [
        800,
        600
      ],
      "credentials": {
        "tacticalRMMApi": {
          "id": "C9GMRIojaJ9F4MeR",
          "name": "Tactical RMM Api Credentials account"
        }
      }
    },
    {
      "parameters": {},
      "id": "9ffae1a1-66f8-4324-8ba2-dc41684eaf75",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        600,
        600
      ]
    },
    {
      "parameters": {
        "resource": "software",
        "agentId": "={{ $json.agent_id }}"
      },
      "id": "fbb28fca-c25b-40d4-bece-a809a21ba7bf",
      "name": "Tactical RMM1",
      "type": "n8n-nodes-tacticalrmm.TacticalRMM",
      "typeVersion": 1,
      "position": [
        1020,
        420
      ],
      "credentials": {
        "tacticalRMMApi": {
          "id": "C9GMRIojaJ9F4MeR",
          "name": "Tactical RMM Api Credentials account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "agent_id",
              "field2": "agent_id"
            }
          ]
        },
        "joinMode": "enrichInput1",
        "options": {}
      },
      "id": "7117657b-57d5-43b2-85d3-7343ee8b783d",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1240,
        580
      ]
    },
    {
      "parameters": {
        "jsCode": "let output = []\nfor (const item of $input.all()) {\n  let sftstr = ''\n  for(const software of item.json.software) {\n    sftstr += software.name + ','\n  }\n\n  output.push({\n    hostname: item.json.hostname,\n    software:  sftstr\n  })\n}\n\nreturn output"
      },
      "id": "1e44a95c-7b72-414a-a437-c6ca101ccea6",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        580
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {}
      },
      "id": "886585f7-b0fb-46b2-89d4-72896daaf12c",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        1260,
        820
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Tactical RMM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tactical RMM": {
      "main": [
        [
          {
            "node": "Tactical RMM1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tactical RMM1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2e54771e-93f4-4e14-b36a-e1c43d7bbe4f",
  "id": "HGspOVBMnPkHpEQk",
  "meta": {
    "instanceId": "6ce680318884090a97aabfb72ca3bc1e618a47f8e8bddbfb5cfab42971c3dba9"
  },
  "tags": [
    {
      "id": "l3qisRthLntykXH2",
      "name": "TRMM",
      "createdAt": "2023-08-15T15:56:40.250Z",
      "updatedAt": "2023-08-15T15:56:40.250Z"
    }
  ]
}